@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, body p, .input-padrao {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    /* background:  #f5f5f5; */
}

.img-icone {
    width: 80px;

}

header {
    background: #212529;
    
}

.menu {
    position: relative;
    /* width: 940px; */
    width: 1100px;
    margin: 0 auto;

}

.btn-login {
    width: 90px;
    background: #212529;
    /* border: 1px white; */
    border: 1px solid white;

}

.btn-register {
    width: 120px;
    background: #ffc720;
    border: none;

}

.btn {
    /* width: 20%; */
    padding: 15px 0;
    /* background: #ffc720; */
    /* margin: 0 0 0 15px; */
    color: white;
    font-weight: bold;
    font-size: 18px;
    /* border: none; */
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
 
}

.btn:hover {
    /* background: #f8bd0d; */
    cursor: pointer;
    transform: scale(1.1);

}

.btn-login:hover{
    background: #f8f9fa;
    color: black;
}

nav {
    position: absolute;
    top: 15px;
    right: 0;
}

nav li {
   display: inline;
   margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #f8f9fa;
    /* color: #000000; */
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #f8f9fa;
    text-decoration: underline;

}

main {
    width: 1100px;
    margin: 0 auto;
    min-height: 300px;
    /* height: 100%; */
}

footer {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    /* flex-shrink: 0; */
    /* position: absolute;
    bottom: 0; */
} 

.icone {
    width: 75px;
}

.redes-sociais {
    background: #212529;
    height: 205px;
    
}

.redes-sociais div.texto {
    color: white;
    margin: 2%;
}

.copy-rigth {
    background: rgba(0, 0, 0, 0.9);
    color: #f8f9fa;
    height: 50px;   

}

.github {
    margin-top: 2%;
    margin-left: 15px;
    transition: 0.5s all;
}

.github:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.github {
    display: inline-block
}

@media screen and (max-width: 480px) {
    
    header {
        /* width: 77%; */
        width: 100%;
    }
    
    .menu {
        width: auto;
        height: 200px;
        text-align: center;
    }

    nav {
        top: 90px;
        right: 12px;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 8px;
    }

    .btn-login, .btn-register {
        margin-top: 15px;
    }

    main {
        /* width: 77%; */
        width: 100%;
        /* margin: 0; */

    }
    
    footer {
        text-align: center;
        font-size: 16px;
        /* width: 77%; */
        width: 100%;
    }

    .redes-sociais {
        height: 320px;;
    }

   .github {
        margin-top: 5%;
    }

    .texto p {
        text-align: justify;
        margin-top: 7%;
        padding: 10px;
    }
    
}