/* *{
	margin:0;
	padding:0;
} */
/* .botao{
	display: block;
	width: 160px;
	height: 30px;
	font-size: 14px;
    background: #e1e1e1;
    border-bottom: 2px solid #333;
    text-align: center;
    font-family: 'Arial';
    text-transform: uppercase;
    line-height: 30px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
} */

/* .botao:hover{
	background: #999;
	color: #fff;
} */

.botao {
    display: block;
    text-align: center;
    font-family: 'Arial';
    text-transform: uppercase;
    color: #333;
    text-decoration: none;
    width: 160px;

}

.dropDown{
    display: none;
    list-style: none;
	float: left;
	width: 160px;
	height: auto;
	background: #333;
}
.dropDown li{
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
.dropDown li a{
	display: block;
	float: left;
	width: 80%;
	border-top: 1px solid #555;
	font-family: 'Arial';
    font-size: 12px;
	text-decoration: none;
    padding: 5% 10%;
    text-transform: uppercase;
	text-align: center;
}

.dropDown li a:hover{
	background: #000;
	/* background: red; */
	
} 

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:5px;
	color:#fff;
	font-size:12px Arial;
}
	