
div.menu nav ul li a img {
    width: 50px;
}

nav {
    top: 0px;
}

.tela-grande{
    display: block;
}

.tela-pequena {
    display: none;
}

.botoes{
    text-align: center;
}

.btn-perfil {
    cursor: pointer;
    width: 24%;
    margin-top: 5px;
    /* margin: 0; */
    background: #212529;
    color: white;
    border: 1px solid white;
    padding: 15px 0;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.5s all;
}

.btn-perfil:hover{
    background: #f8f9fa;
    color: black;
}

@media screen and (max-width: 480px) {
    
    main {
        width: 100%;
    }
    .tela-grande{
        display: none;
    }

    .tela-pequena {
        display: block;
    }

    .menu {
        text-align: left;
        height: 93px;
        margin-left: 48px;
    }
    
}