div.conteudo {
    /* height: 60%; */
    padding-top: 50px;
    padding-bottom: 50px;

    /* text-align: center; */
}

div.conteudo input.input-padrao {
    text-align: center;
    
}

div.conteudo h1 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 25px;

}

label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: inline-block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.span-padrao {
    background: #f7b900;
    font-weight: bold;
    color: white;
    padding: 13px 40px;
    /* width: 30px; */
}

#span-meses {
    padding: 13px 25px;
}

#span-ao-ano {
    padding: 13px 14px;

}

#btn-calcular {
    display: block;
    width: 35%;
    margin: 0;
    margin-left: 15%;
}

.dinheiro-investido, .prazo-meses, .juros-ganhos, .total-ganhos, .imposto-sobre-ganhos, .lucro-bruto {
    /* display: inline-block; */
    vertical-align: middle;
    margin: 10px;
    padding: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 170px;
    height: 120px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgb(38 38 38 / 25%);
}

