div.conteudo-apresentacao {
    width: 550px;
    height: 677.7px;
    margin-top: 2px;
    display: inline-block;
    /* background: blue; */
    background: url("img/investimento.jpg") no-repeat;

    /* filter: blur(5px); */

}

div.conteudo-apresentacao h1 {
    margin: 5px;
    font-size: 27px;
    margin-top: 50%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

}

div.conteudo-apresentacao p {
    font-size: 20px;
    margin: 5px;
    color: white;
    
}

div.conteudo-widget  {
    width: 550px;
    margin-top: 2px;
    display: inline-block;
    /* background: red; */
    float: right;
    
}

div.conteudo-widget .widget-cotacao {
    margin: auto;
}

div.tipo-investidor h1 {
    text-transform: uppercase;
    font-weight: bold;
} 

div.tipo-investidor p {
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
}

div.tipo-investidor, img {
    text-align: center;
}

div.tipo-investidor img {
    width: 40%;
}

div.tipo-investidor b {
    font-weight: bold;
    text-transform: uppercase;
}

img.img-tipos-investidor{
    width: 40px;
}