.titulo-principal{
    font-size: 38px;
    font-weight: bold;
}
/* .formulario-login {
    /* background-color: #f9fbfd; 
    height: 390px;

} */

.login {
    text-align: center;
    margin-top: 2%;
}

form{
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.btn-access {
    width: 10%;
    padding: 15px 0;
    background-color: #ffc720;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;    
    margin-left: 31%;

}

#esqueci-senha {
    margin-left: 45%;
}

.btn-access:hover {
    background-color: #e6ae06;

} 

.btn-enviar {
    width: 55%;
    padding: 15px 0;
    background-color: #ffc720;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.btn-enviar:hover{
    background-color: #f7b900;
    /* transform: scale(1.2); */
}

@media screen and (max-width: 480px) {

    .input-padrao {
        margin-left: 5px;
        width: 83%;
    }

    .btn-enviar {
        margin-left: 5px;
        width: 97%;
    }
    
    form label {
        margin-left: 5px;
    }

    form a {
        margin-left: 5px;
    }

    .btn-access {
        width: 24%;
    }

    #esqueci-senha {
        margin-left: 75%;
    }

}